<%= render_if @highlights[0].present?, 'articles/components/longer_feature', article: @highlights[0] %>
<div class="row mb-2">
    <% if @highlights.length > 0  %>
        <% @highlights[1..].each do |highlight| %>
            <%= render 'articles/components/medium_featured', article: highlight %>
        <% end %>
    <% end %>
</div>
<div class="row g-5">
    <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
            From the Firehose
        </h3>

        <p>
            <%= link_to 'New article', new_article_path, class: "btn btn-primary" %>
        </p>
    
        <% @articles.each do |article| %>
            <%= render 'articles/components/article', article: article %>
        <%end%>

        <%= render 'articles/components/pagination' %>
    </div>

    <%= render 'articles/components/right_side' %>
</div>

<!--
Outras implementações

 <a href="/articles/<%#= article.id %>"> 

 <a href="<%#= article_path(article.id) %>">
    <%#= article.title %>
</a>
-->