<%= render_if @highlights[0].present?, 'articles/components/longer_feature', article: @highlights[0] %>
<div class="row mb-2">
  <% if @highlights.length > 0  %>
    <% @highlights[1..].each do |highlight| %>
      <%= render 'articles/components/medium_featured', article: highlight %>
    <% end %>
  <% end %>
</div>
<div class="row g-5">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      <%= t('.subtitle') %>
    </h3>
    <p>
      <%= link_to t('.new_article'), new_article_path, class: "btn btn-success" if user_signed_in? %>
    </p>
    <% @articles.each do |article| %>
      <%= render 'articles/components/article', article: article %>
    <%end%>
    <%= render 'articles/components/pagination' %>
  </div>
  <%= render 'articles/components/right_side' %>
</div>
<%= content_for :category_filter do %>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <% @categories.each do |category| %>
        <%= link_to category.name, root_path(category: category.name), class: "p-2 link-secondary #{'filter-active' if category.name == params[:category] } " %>
      <% end %>
    </nav>
  </div>
<% end %>
<!--
Outras implementações

 <a href="/articles/<%#= article.id %>"> 

 <a href="<%#= article_path(article.id) %>">
    <%#= article.title %>
</a>
-->
