<article class="blog-post">
  <h2 class="blog-post-title"><%= @article.title %></h2>
  <p class="blog-post-meta">
    <%= render 'articles/components/article_detail', article: @article%>
  </p>
  <p><%= @article.body %></p>
  <div style="display: flex; flex-direction: row; column-gap: 1rem;">
    <%= link_to t('app.button.edit'), edit_article_path(@article), class: "btn btn-primary" if policy(@article).update? %>
    <% if policy(@article).destroy? %>
      <%= button_to t('app.button.destroy'), 
        article_path(@article),
        method: :delete,
        class: "btn btn-danger" 
         %>
    <% end %>
    <%= link_to t('app.button.back'), root_path, class: "btn btn-secondary" %>
  </div>
  <%= render 'comments/comments', article: @article %>
</article>
