<article class="blog-post">
  <h2 class="blog-post-title"><%= article.title %></h2>
  <p class="blog-post-meta">
    <%= render 'articles/components/article_detail', article: article%>
  </p>
  <p><%= truncate(article.body, length: 150) %></p>
  <p><%= link_to t('articles.continue_reading'), article, class: "btn-link" %></p>
  <div style="display: flex; flex-direction: row; column-gap: 1rem;">
    <div>
      <%= link_to t('app.button.edit'), edit_article_path(article), class: "btn btn-primary" if policy(article).update? %>
    </div>
    <div>
      <% if policy(article).destroy? %>
        <%= button_to t('app.button.destroy'), 
        article_path(article),
        method: :delete,
        class: "btn btn-danger" 
    %>
      <% end %>
    </div>
  </div>
</article>
